*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: aqua;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: darkblue;
}
.navbar-links a:hover{
    text-decoration: underline;
    color: brown;
}
.navbar-menu-toggle{
    display: none;
}


.side-navbar{
    background-color: cadetblue;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    
}
.right{
    text-align: right;
}
.side-navbar-links{
    margin-bottom: 30px;
    color: white;
}
.side-navbar-links a{
    color: white;
    text-decoration: none;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color:cadetblue;
}
.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2 div{
    background-color:cyan;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position:relative;
    flex-basis:20%
}
.newhead{
    padding: 20px;
    color: darkblue;
}
.new-arrival button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:firebrick;
    position: absolute;
    top:80%;
    left:20%;
    border-radius: 5px;

}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    padding:10px;
    width:80vw;
    margin-top:10px;
    border:solid 3px;
}
.news button{
    margin-top: 10px;
    color: bisque;
    background-color: brown;
    border-radius: 10px;
    padding: 10px;
}
.footer{
    margin-top:20px;
    background-color:darkslategray;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    
}
.products-section{
    margin-top: 20px;
    background-color: lightskyblue;
}
.products-search{
    width: 80%;
    border: solid 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.products-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.products-search input:focus{
    outline: none;
}
.products{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.products-box{
    flex-basis: 20%;
    margin-top: 5px;
    text-align: center;
}
.products-box p{
    color: darkslategray;
    font-size: large;
    font-weight: bold;
    font-stretch: extra-expanded;
    padding-right: 20px;
}
.products-box p:hover{
    text-decoration:underline;
}
.contact-container{
    width: 30%;
    background-color: darkslategrey;
    padding: 20px;
    justify-content: center;
    
}
.contact-container input{
    width: 100%;
    margin-top: 5px;
}
.contact-container label{
    color: cyan;
}
.contact{
    display: flex;
    justify-content: center;
    margin:30px;
}
.contact h2{
    color: cyan;
}
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display:block;
    }
    .navbar-links{
        display:none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2 {
        flex-direction: column;
    }
}